@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}


#navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: all .5s;
}

#navbar ul{
    display: flex;
    list-style-type: none;
    padding: 1.2rem 3rem;
    }
    #navbar ul li a{
        padding-right: .5rem;
    }
#navbar ul a{
    text-decoration: none;
    color: black;
}
.logo {
    padding: 1rem 3rem;
}
.section {
    height: 100vh;
    background: url(model-s.jpg) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.section #Heading{
    padding-bottom: 20rem;
    text-align: center;
}
.section #Heading h1{
    padding-bottom: 1rem;
}
.section ul {
    display: flex;
    list-style-type: none;
}
.section #img{
    width: 50px;
    margin: 0 auto;
    padding-top: 1.5rem;

}
.section ul li {
    margin-right: 1rem;
}
.section ul a{
    padding: .5rem 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
}
.section ul li:last-of-type a{
    background: black;
    color: white;
}
#aside{
    height: 100vh;
    position: fixed;
    width: 300px;
    top: 0;
    background: white;
}
#aside ul{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}
#aside ul li {
    padding: .5rem 1rem;
}
#cross{
    position: absolute;
    right: 1rem;
    top: 2rem; 
}
